name: Build and deploy web app
on: [push]
jobs:
    build:
        name: Build React app
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup Pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 10

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Build React app
              run: pnpm run build
              env:
                  PUBLIC_URL: https://pass.wayspace.net

            - name: Save build output
              uses: actions/upload-artifact@v6
              with:
                  name: app-dist
                  path: dist
    deploy:
        name: Deploy static app to S3
        if: github.ref == 'refs/heads/main'
        needs: build
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Restore build output
              uses: actions/download-artifact@v7
              with:
                  name: app-dist
                  path: dist

            - name: Configure AWS
              uses: aws-actions/configure-aws-credentials@v5
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: eu-central-1

            - name: Upload to AWS S3
              run: aws s3 sync dist s3://pass.wayspace.net --delete
